@import "compass_twitter_bootstrap";

$hoodie-blue: #302182;
$hoodie-red:  #BE1522;

$headline-color:  $hoodie-blue;
$link-color:      $hoodie-blue;

@font-face {
    font-family: 'QuicksandBold';
    src: url('../assets/Quicksand_Bold-webfont.eot');
    src: url('../assets/Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/Quicksand_Bold-webfont.woff') format('woff'),
         url('../assets/Quicksand_Bold-webfont.ttf') format('truetype'),
         url('../assets/Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
  font-size: 16px;
  line-height: 1.45em;
  color: $headline-color;
}

a{
  color: $link-color;
  text-decoration: underline;
  font-weight: bold;
  &:hover{
    color: $link-color;
  }
}

ul{
  margin: 0 0 0px 21px;
  li{
    margin-bottom: .25em;
    line-height: 1.75em;
  }
}

h1{
  font-family: 'QuicksandBold', Arial, sans-serif;
  color: $headline-color;
  text-transform: uppercase;
}

h2{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  margin-top: 1.5rem;
  line-height: 1.25rem;
}

h3{
 font-family: Helvetica, Arial, sans-serif;
 font-size: 1rem;
 margin-top: 0;
}

code{
  font-size: 1rem;
}

.fixedNav{
  position: fixed;
  top: 8em;
  left: 2em;
  ul{
    width: 200px;
    max-width: 100%;
    margin-left: 0;
    li{
      font-family: 'QuicksandBold', Arial, sans-serif;
      color: $headline-color;
      text-transform: uppercase;
      list-style: none;
      a{
        text-decoration: none;
      }
    }
  }
  .nav-pills > li > a {
    padding-bottom: 5px;
  }
  .nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: $hoodie-blue;
  }
}

.container{
  max-width: 750px;
  width: 90%;
  margin-bottom: 8em;
  .header{
    margin: 8em auto 0 auto;
    h1{
      margin-bottom: 1em;
    }
    p{
      font-size: 1.25em;
      line-height: 1.5em;
      max-width: 550px
    }
  }
  section{
    padding-top: 1em;
    &.indented {
      margin: 0 0 1em 2em;
    }
  }
}

@media only screen and (max-width: 1240px) {
  .container{
    margin-left: 246px;
  }
}

@media only screen and (max-width: 1020px) {
  .container{
    margin-left: auto;
    .header{
      margin-top: 2em;
    }
  }
  .fixedNav{
    position: relative;
    top: 0;
    left: 0;
    max-width: 750px;
    width: 90%;
    margin: 1em auto 0;
    ul{
      margin-left: -.5em;
    }
  }
}

@media only screen and (max-width: 480px) {
  body{
    font-size: 14px;
  }
  .fixedNav{
    font-size: 1.5rem;
    ul{
      width: 35rem;
      max-width: 100%;
    }
  }
  h1{
    font-size: 1.5rem;
  }
  h2, h3{
    font-size: 1rem;
  }
}

@media only screen and (max-width: 320px) {
  body{
    font-size: 12px;
  }
}